<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/d8f8eda7f8.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="css/shop.css">
    <title>shop</title>
    <style>
        .col-md-5:hover{
            transform: scale(1.1);
        }
        .nav-link:hover{
            color: blue;
            font-weight: 900;
        }
        .navbar-brand:hover{
            color: blue;
            font-weight: 900;
        }
    </style>
</head>
<body>
<div>
    <a class="navi-top"> GAME WEB </a>
</div>
<div th:replace="index::user_info"></div>

<div class="container" id="shopApp">
    <div class="row">
        <div class="col-5 col-md-5 col-lg-2  m-3 justify-content-center align-items-center text-center"
             style="border: solid;border-radius: 20px;padding: 5px;background-color: #aaffff" v-for="product in products">
                <span v-text="product.productName" style="background-color: #cccccc;border-radius: 5px;padding: 3px">
                    Monster</span>&nbsp
        <img v-bind:src="'img/shop/'+product.productName+'.png'" class="rounded-circle">
        <img src="img/coin.png" style="width : 25px"><span v-text="product.price"></span>
        <p>title: <span v-text="product.productTitle" style="color: blue;font-weight: bold"></span></p>
        <p v-text="product.description">a super devil monster</p>
        <button class="btn btn-success" type="submit" v-on:click="purchase(product.productName,product.productTitle,product.price)">
            purchase
        </button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script src="js/utils.js"></script>
<script src="js/user_info.js"></script>
<script src="js/shop.js"></script>
</body>
</html>