body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
.navi-top {
    /* position: absolute; */
    top: 0%;
    margin-left: 0.5em;
    font-size: 2em;
    font-weight: 900;
    color: tomato;
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;

    text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
    calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
    0px var(--stroke-color);

    -webkit-animation: colorchange 3s infinite alternate;
}
.index_top_bar {
    display: flex;
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #4d449e, #5890f0);
    height: 48px;
    overflow-block: auto;
}
.navi-item {
    /* margin: 0px 5px 0px 0px; */
    margin-left: 1em;
    color: white;
    display: flex;
    align-items: center;
}
.navi-link:hover{
    cursor: pointer;
    color: #658cd3;
    transition-duration:0.2s;
}
.navi-bar-text {
    margin-left: 0.5em;
}
.user-title {
    color: rgb(215, 82, 189);
}
.user-icon {
    height: 32px;
}
.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#23b069, rgba(122, 211, 78, 0.94));
}
.game-icon{
    opacity: 0.7;
    margin: 20px;
}
.game-icon:hover {
    transition-duration:0.2s;
    opacity: 1;
    border-radius: 10%;
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.8);
}
/* .fa-house {
  margin-left: 0.5em;
} */
@media screen and (min-width: 300px) and (max-width: 480px) {
    body{
        font-size:1px;
    }
    .index_top_bar {
        font-size: 2px;
        overflow: hidden;
    }
    .navi-item {
        margin: 2em;
    }
    .home-contact {
        font-size: 0;
    }
    .user-icon {
        height: 20px;
    }
}
@-webkit-keyframes colorchange {
    0% {
        color: #00ff9f;
    }
    10% {
        color: lime;
    }
    20% {
        color: #0abdc6;
    }
    30% {
        color: #00b8ff;
    }
    40% {
        color: #2980b9;
    }
    50% {
        color: #6666ff;
    }
    60% {
        color: #ff66ff;
    }
    70% {
        color: #d600ff;
    }
    80% {
        color: purple;
    }
    90% {
        color: #711c91;
    }
    100% {
        color: #99ccff;
    }
}
